
@media screen and (min-width: 320px) and (max-width: 768px) {
    body {
        background-color: #f0f0f0;
        font-family: 'Anton', sans-serif;
    }

    .main-header {
        text-align: center;
        margin: 1.5em;
    }

    .navbar {
        background-color: #f0f0f0;
    }

    .navbar-brand {
        display: none;
    }

    .bi {
        border: solid #068376;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #00aaa9;
        color: white;
        padding: 5px;
    }

    /*CIRCLES⭕*/
    .circles {
        width: 6.7em;
        height: 6.7em;
        line-height: 6em;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        border: solid 5px white;
        color: white;
        font-family: 'Anton', sans-serif;
    }

    .first2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


    }

    .second2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .badge1 {
        background-color: #e6563b;
        margin-right: 1em;

    }

    .badge2 {
        background-color: #eb9d3a;
        margin-left: 1em;
    }

    .badge3 {
        background-color: #7cb06c;
        margin-right: 1em;
    }

    .badge4 {
        background-color: #00aba9;
        margin-left: 1em;

    }
    /*END OF CIRCLES⭕️ */

    P {
        display: flex;
        justify-content: center;
        color: #66696b;
        font-family: 'Abel', sans-serif;
        font-size: 10px;
    }

    .random-pictures {
        width: 90vw;
        height: 80vh;
        margin: auto;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        border: solid 6px #e6e6e6;

    }

    .alt-p {
        display: flex;
        justify-content: left;
        color: #66696b;
        font-family: 'Abel', sans-serif;
        font-size: 10px;
    }


    /*ICONS FOR PICTURES🟢*/
    .rounded-pill {
        display: flex;
        color: black;
    }

    .pill1 {
        background-color: #e6563b;
        margin-left: 13em;
    }

    .pill2 {
        background-color: #eb9d3a;
        margin-left: 1em;
    }

    .pill3 {
        background-color: #7cb06c;
        margin-left: 1em;
    }

    .pill4 {
        background-color: #00aba9;
        margin-left: 1em;
    }
    /*END OF ICONS FOR PICTURES🟢*/

}


/*testing*/